{% extends 'base.twig' %}
{% block main %}

<article>

    <h2>{% if campingcar.id %} Editer le camping-car n°{{ campingcar.id }} {% else %} Créer un nouveau camping-car {% endif %}</h2>
<div class="form-easy">
    <form method="POST" action="">

        <div class="form">
            <label for="nom">Nom :</label></br>
            <input type="text" id="nom" name="nom" value="{{ campingcar.nom }}" /></br>
            <label for="model">Model :</label></br>
            <input type="text" id="model" name="model" value="{{ campingcar.model }}" /></br>
            <label for="nom">Type :</label></br>
            <input type="text" id="type" name="type" value="{{ campingcar.type }}" /></br>
            <label for="nom">Taille :</label></br>
            <input type="real" id="taille" name="taille" value="{{ campingcar.taille }}" /></br>
            <label for="nom">Poids :</label></br>
            <input type="real" id="poids" name="poids" value="{{ campingcar.poids }}" /></br>
            <label for="nom">Nombres de couchettes :</label></br>
            <input type="integer" id="nbPlaces" name="nbPlaces" value="{{ campingcar.nbPlaces }}" /></br>
            <label for="nom">Marque du chassis :</label></br>
            <input type="text" id="chassis" name="chassis" value="{{ campingcar.chassis }}" /></br>
            <label for="nom">Classe :</label></br>
            <input type="text" id="classe" name="classe" value="{{ campingcar.classe }}" /></br>
            <label for="nom">Description :</label></br>
            <input type="text" id="description" name="description" value="{{ campingcar.description }}" /></br>
        </br>
        </div>
        <button class="save">Save</button>
    </form>
</div>
</article>

{% endblock %}