<!DOCTYPE html>
<html>
    <head>
        <title>{%block title %}AutoFam{% endblock %}</title>
        <meta charset="utf8" />
        <link rel="stylesheet" type="text/css" href="/assets/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Staatliches" rel="stylesheet"> 
    </head>
    <body>
        <header>
<h2>Autofam</h2>
            <nav>
                <a href="/">Accueil</a>
                <a href="/presentation">Présentation</a>
                <a href="/administration">Administration</a>
            </nav>
            <div class="banniere">
                </div>
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
        
        <div class="separateur"></div>
        <footer>
                <img src="/assets/img/logo.png" class="img-footer" alt="AutoFam" />
                <img  class="facebook" href="https://www.facebook.com/" src="/assets/img/facebook.png" alt="">
            </footer>
</body>
        </html>