{% extends 'base.twig' %}

{% block main %}


<div class="grid">
    <article>
        <h2>Découvre le camping-car {{campingcar.nom}} {{campingcar.model}}</h2>

        <div class="card">
            <img src="{{campingcar.image}}" alt="" />
            <dl>
                <dt>Nom</dt>
                <dd>{{campingcar.nom}}</dd>
                <dt>Model</dt>
                <dd>{{campingcar.model}}</dd>
                <dt>Description</dt>
                <dd>{{campingcar.description}}</dd>
                <dt>Type</dt>
                <dd>{{campingcar.type}}</dd>
                <dt>Taille</dt>
                <dd>{{campingcar.taille}}</dd>
                <dt>Poid</dt>
                <dd>{{campingcar.poids}}</dd>
                <dt>Nombres de couchettes disponibles</dt>
                <dd>{{campingcar.nbPlaces}}</dd>
                <dt>Marque du chassis</dt>
                <dd>{{campingcar.chassis}}</dd>
                <dt>Classe</dt>
                <dd>{{campingcar.classe}}</dd>

            </dl>
        </div>


           <div class="comments">
                
                    {% for comment in campingcar.comments %}
                    <p>{{ comment.user }} : {{ comment.commentaire }}</p>
                    
                    {% endfor %}
                    
                
            </div>
    </article>
</div>
</div>

{% endblock %}