{% extends 'base.twig' %}
{% block main %}

<section>

    <!-- iterate here ? -->
    {% for campingcar in campingcars %}

            <a class="image_camping" href="/camping-car/{{campingcar.nom}}">
            <figure>
                <img src="{{campingcar.image}}" alt="" />
                <figcaption>Découvre la voiture {{campingcar.nom}} {{campingcar.model}}</figcaption>

                
            </figure>
        </a>
        {% endfor %}

</section>
{% endblock %}