{% extends 'base.twig' %}

{% block main %}
<p class="presentation">AutoFam est une société qui possède des partenariats avec des revendeurs de camping-car mais notamment avec le constructeur HYMERCAR dans le but de diffuser leurs véhicules sur Internet.
        Nous proposons nos services à ces revendeurs qui leur donnent une visibilité supérieur et ainsi d'accroitre leurs chiffres d'affaires.</p>
{% endblock %}