body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:url("../img/logo-hover.png");
}

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: white;
}

header h2 {
    text-transform: uppercase;
    grid-column: 1/4;
    font-family: arial, sans-serif;
    text-transform: uppercase;
    color: red;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    font-size: 3.6em;
    text-align: center;
}


.separateur {
    width: 100%;
    background-color: red;
    height: 10px;
    margin-top: 50px;
}

footer {
    background-color: #ffdf5e;
    position: relative;
    
}

footer img{
    max-width: 150px;
    display: block;
    margin: 0 auto;
}

.banniere {
background: url("../img/banniere-web.png");
height: 400px;
background-repeat: no-repeat;
}

header > a{
    width: 512px;
    height: 112px;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto auto;
    color: transparent;
}



header nav{
    background: red;
    padding: 0 0.8em;
}

.image_camping {
    max-height: 300px;
}

.image {
    width: 300px;
    height: 150px;
}

header nav a {
    display: inline-block;
    padding: 0.8em;
    text-decoration: none;
    font-weight: bold;
    color: white;
    border-bottom: 3px solid transparent;
    text-transform: uppercase;
}

header nav a:hover{
    border-bottom: 3px solid rgb(255, 255, 255);
}

main section, main article {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top:20px;
}

main article {
    row-gap: 0;
}
main section h2, main article h2 {
    grid-column: 1/4;
    font-family: arial, sans-serif;
    text-transform: uppercase;
    color: red;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    font-size: 3.6em;
    text-align: center;
}

main section a, main .grid aside a{
    display: block;
    text-decoration: none;
}
main section a figure, main .grid aside a, main article dl, main article img{
    margin: 0;
    max-width: 300px;
    margin: 0 auto;
    background-color: red;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

main article img {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top: 2px solid rgb(223, 0, 44);
    display: block;
    margin: 0 auto;
}

main article dl {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: white;
    padding: 0.8em 0;
}

main article dl dt, main article dl dd {
    padding: 0 0.8em;
    display: block;
    margin: 0;
    color: white;
}

main article dl dt {
    margin-top: 15px;
    font-weight: bold;
}

main article dl dd {
    text-align: right;
    border-bottom: 1px dotted rgb(223, 0, 44);
    padding-left: 0;
    padding-bottom: 15px;
    font-style: italic;
}

main article dl dd:last-of-type {
    border-bottom: none;
}

main article .description {
    font-size: 1.6em;
}

main .grid aside a figure {
    margin: 0;
}

main .grid aside a {
    margin-bottom: 15px;
}

main section a figure:hover, main .grid aside a figure:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

main section a figure img, main .grid aside a figure img{
    display: block;
    width: 100%;
}

main section a figure figcaption, main .grid aside a figure figcaption {
    padding: 0.3em;
    border-bottom: 3px solid transparent;
    color: #ffdf5e;
    text-decoration: none;
    font-family: 'Staatliches', cursive;
    font-size: 1.9em;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.6);
}

main section a:hover figure figcaption, main .grid aside a:hover figure figcaption {
    border-bottom-color: rgb(223, 0, 44);
}

main .grid {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 4fr .2fr .2fr;
}

main .grid aside h3 {
    font-family: 'Staatliches', cursive;
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    font-size: 2.6em;
    text-align: center;
}

.comments {
    border-style: solid;
    border-width: 1px;
    background-color: red;
    overflow: scroll;
    width: 165%;
    height: 205px;
    color: white;
    line-height: 30px;
}

.presentation {
    font-size: 40px;
    text-align: center;
}

.facebook {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    margin-top: 33px;
}

.form {
    display: block;
    margin: 0 auto; 
    border-color: red;
}

input {
    width: 100%;
  }

  .save {
      background-color: red;
      color: white;
      display: block;
      margin: 0 auto;
  }